[mysqld]
server-id = 1

# Binary logging
log_bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW

# Relay log
relay-log = /var/log/mysql/mysql-relay-bin
relay-log-index = /var/log/mysql/mysql-relay-bin.index

# Prevent conflicts with ids
auto-increment-increment = 2
auto-increment-offset = 1

# Replication
log-slave-updates = 1
replicate-same-server-id = 0
skip-replica-start = 1

# Network
bind-address = 0.0.0.0

# Character set
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci

# GTID
gtid_mode = ON
enforce-gtid-consistency = ON