[mysqld]
server-id = 3

# Read-only mode
read_only = 1
super_read_only = 1

# Relay log
relay_log = /var/log/mysql/mysql-relay-bin
relay_log_index = /var/log/mysql/mysql-relay-bin.index
log_bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW

# GTID
gtid_mode = ON
enforce_gtid_consistency = ON

# Replicación paralela
slave_parallel_workers = 4
slave_parallel_type = LOGICAL_CLOCK

# Network
bind-address = 0.0.0.0

# Character set
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci